<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>airbnb Home</title>
    <!-- <link rel="stylesheet" href="home.css"> -->
    <link rel="stylesheet" href="/output.css">

  </head>
  <body class="bg-amber-300">
    <header>
      <h1 class="text-red-700 text-lg text-center">Welcome to Airbnb</h1>
    </header>
    <main class="flex justify-center">
      <a class="text-red-700 text-lg text-center px-4 py-2 border-2 border-black rounded-md" href="/host/add-home">
  Add Home
</a>

    </main>
  </body>
</html>
